<div class="card shadow-base bd-0">
    <div class="card-header bg-transparent pd-20">
        <h6 class="card-title tx-uppercase tx-12 mg-b-0">
            Résultats
        </h6>
    </div><!-- card-header -->
    <table class="table table-responsive mg-b-0 tx-12">
        <thead>
        
            <tr class="tx-10">
                <th class="wd-10p pd-y-5">&nbsp;</th>
                <th class="pd-y-5">Sujets</th>
                <th class="pd-y-5">Votes</th>
                <th class="pd-y-5">Opinions</th>
            </tr>
        </thead>
        <tbody>
            <% @poll.poll_items.each do |poll_item| %>
                <tr>
                    <td class="pd-l-20">
                        <%= link_to poll_item_show_path(poll_item) do %>
                            <%= sidebar_poll_item_thumbnail(poll_item,'48') %>
                        <% end %>
                    </td>
                    <td>
                        <%= link_to poll_item.title, poll_item_show_path(poll_item), class: "tx-inverse tx-14 tx-medium d-block" %>                         

                    </td>
                    <td class="tx-12 valign-middle tx-center">
                        <%= poll_item.votings.count %>
                    </td>
                    <td class="tx-12 valign-middle tx-center">
                        <%= poll_item.comments.count %>
                    </td>
                </tr>
            <% end %>
            
                  
        </tbody>
    </table>
   
</div>