<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @expense_distribution.uid %>
</p>

<p>
  <strong>Expense category:</strong>
  <%= @expense_distribution.expense_category %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @expense_distribution.percentage %>
</p>

<p>
  <strong>Status:</strong>
  <%= @expense_distribution.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @expense_distribution.user %>
</p>

<%= link_to 'Edit', edit_expense_distribution_path(@expense_distribution) %> |
<%= link_to 'Back', expense_distributions_path %>
