<%= form_with(model: saving, local: true) do |form| %>
  <% if saving.errors.any? %>
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4><%= pluralize(saving.errors.count, "erreur") %> a empêchée l'enregistrement de cet épargne:</h4>

      <ul>
      <% saving.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :saving_date, "Date", class: "required" %>
        <%= form.date_field :saving_date, class: "form-control", required: true %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :bank_id, "Banque", class: "required" %>
        <%= form.collection_select(:bank_id, @banks, :id, :name, {prompt: "Sélectionner"}, class: "form-control ", style: "width: 100%", required: true) %> 
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :designation, "Désignation", class: "required" %>
        <%= form.text_field :designation, class: "form-control", placeholder: "Désignation", required: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :amount, "Montant", class: "required" %>
        <%= form.number_field :amount, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :description, "Description" %>
        <%= form.text_area :description, class: "form-control", placeholder: "Description" %>
      </div>
    </div>
  </div>

  

 

  <div class="row">
    <div class="col-md-12">
      <div class="form-group pull-right">
        <%= form.submit  class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1" %>
      </div>
    </div>
  </div>
<% end %>
