 <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.company_name %></td>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.civility %></td>
        <td><%= contact.city %></td>
        <td><%= contact.country %></td>
        <td><%= contact.phone_number_1 %></td>
       
        <td>
					<div class="action-buttons">
					<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_contact_path(contact), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), contact_delete_path(contact), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
    </tr>
<% end %>