<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Contact type</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Civility</th>
      <th>Address</th>
      <th>Phone number 1</th>
      <th>Phone number 2</th>
      <th>City</th>
      <th>Contry</th>
      <th>Email</th>
      <th>About</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.uid %></td>
        <td><%= contact.contact_type %></td>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.civility %></td>
        <td><%= contact.address %></td>
        <td><%= contact.phone_number_1 %></td>
        <td><%= contact.phone_number_2 %></td>
        <td><%= contact.city %></td>
        <td><%= contact.contry %></td>
        <td><%= contact.email %></td>
        <td><%= contact.about %></td>
        <td><%= contact.status %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
