<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @contact.uid %>
</p>

<p>
  <strong>Contact type:</strong>
  <%= @contact.contact_type %>
</p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Civility:</strong>
  <%= @contact.civility %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong>Phone number 1:</strong>
  <%= @contact.phone_number_1 %>
</p>

<p>
  <strong>Phone number 2:</strong>
  <%= @contact.phone_number_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @contact.city %>
</p>

<p>
  <strong>Contry:</strong>
  <%= @contact.contry %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>About:</strong>
  <%= @contact.about %>
</p>

<p>
  <strong>Status:</strong>
  <%= @contact.status %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
