<% @polls.each do |poll| %>
    <tr>
   <td><%= poll.created_at.strftime("%d/%m/%Y") %></td>
    <td><%= poll.poll_category.name %></td>
    <td><%= poll.title %></td>
    <td><%= poll.start_date.strftime("%d/%m/%Y") %></td>
     <td><%= poll.end_date.strftime("%d/%m/%Y") %></td>
    <td><%= poll.status %></td>
    <% if current_user.superuser? %>
    <td>
	    <div class="action-buttons">
            <%= link_to raw('<i class="fa fa-check-square-o" aria-hidden="true"></i>'), poll_items_path(uid: poll.uid), title: "Liste des questionnaires" %>
            <%= link_to raw('<i class="fa fa-pie-chart" aria-hidden="true"></i>'), poll_results_path(poll), title: "Resultats du sondage" %>

                <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
                    
'),  edit_poll_path(poll), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), poll_delete_path(poll), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
<% end %>
    </tr>
<% end %>