<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @loan.uid %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @loan.designation %>
</p>

<p>
  <strong>Loan date:</strong>
  <%= @loan.loan_date %>
</p>

<p>
  <strong>Source:</strong>
  <%= @loan.source %>
</p>

<p>
  <strong>Description:</strong>
  <%= @loan.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @loan.amount %>
</p>

<p>
  <strong>Repayment date:</strong>
  <%= @loan.repayment_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @loan.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @loan.user %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
