<!-- ########## START: LEFT PANEL ########## -->

      <ul class="br-sideleft-menu">
       <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-home tx-20"></i> <span class="menu-item-label">Tableau de bord</span>'), dashboard_path, class: "br-menu-link #{current? "active", dashboard_path}" %>
        </li><!-- br-menu-item -->



         <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-money tx-20"></i> <span class="menu-item-label">Revenus</span>'), incomes_path, class: "br-menu-link #{current? "active", incomes_path}" %>
        </li><!-- br-menu-item -->

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-shopping-cart tx-20"></i> <span class="menu-item-label">Dépenses</span>'), expenses_path, class: "br-menu-link #{current? "active", expenses_path}" %>
        </li><!-- br-menu-item -->

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-university tx-20"></i> <span class="menu-item-label">Epargnes</span>'), savings_path, class: "br-menu-link #{current? "active", savings_path}" %>
        </li><!-- br-menu-item -->

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-credit-card tx-20"></i> <span class="menu-item-label">Dettes</span>'), debts_path, class: "br-menu-link #{current? "active", debts_path}" %>
        </li><!-- br-menu-item -->

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-address-book-o tx-20"></i> <span class="menu-item-label">Contacts</span>'), contacts_path, class: "br-menu-link #{current? "active", contacts_path}" %>
        </li><!-- br-menu-item -->


    


        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-newspaper-o tx-20"></i>
            <span class="menu-item-label">Journaux</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
            
            <li class="sub-item">
                <%= link_to  "Commandes", root_path, class: "sub-link #{current? "active", root_path}" %>
            </li>
             
          </ul>
        </li>


    
         


        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-cog tx-20"></i>
            <span class="menu-item-label">Paramètres</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
             
           
          
            
            <li class="sub-item">
                <%= link_to  "Rôles", roles_path, class: "sub-link #{current? "active", roles_path}" %>
            </li>

             <li class="sub-item">
                <%= link_to  "Droits d'accès", permissions_path, class: "sub-link #{current? "active", permissions_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Utilisateurs", all_users_path, class: "sub-link #{current? "active", all_users_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Banques", banks_path, class: "sub-link #{current? "active", banks_path}" %>
            </li>
            <li class="sub-item">
                <%= link_to  "Portefeuilles", wallets_path, class: "sub-link #{current? "active", wallets_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Types revenus", income_types_path, class: "sub-link #{current? "active", income_types_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Types dépenses", expense_categories_path, class: "sub-link #{current? "active", expense_categories_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Types dettes", debt_types_path, class: "sub-link #{current? "active", debt_types_path}" %>
            </li>
            <li class="sub-item">
                <%= link_to  "Types contacts", contact_types_path, class: "sub-link #{current? "active", contact_types_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Priorités", priorities_path, class: "sub-link #{current? "active", priorities_path}" %>
            </li>

          


          </ul>
        </li>

        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-briefcase tx-20"></i>
            <span class="menu-item-label">Utilitaires</span>
          </a>
          <ul class="br-menu-sub">
            
         
        

            <li class="sub-item">
                <%= link_to  "Backup", root_path,  data: { turbolinks: false }, class: "sub-link" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Logger", root_path, class: "sub-link #{current? "active", root_path}" %>
            </li>


            </ul>
        </li>
       
      </ul><!-- br-sideleft-menu -->

      
       
        
      </div><!-- info-list -->

    <!-- ########## END: LEFT PANEL ########## -->