<p id="notice"><%= notice %></p>

<h1>Debt Types</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @debt_types.each do |debt_type| %>
      <tr>
        <td><%= debt_type.uid %></td>
        <td><%= debt_type.name %></td>
        <td><%= debt_type.description %></td>
        <td><%= debt_type.status %></td>
        <td><%= debt_type.user %></td>
        <td><%= link_to 'Show', debt_type %></td>
        <td><%= link_to 'Edit', edit_debt_type_path(debt_type) %></td>
        <td><%= link_to 'Destroy', debt_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Debt Type', new_debt_type_path %>
