<% @expenses.each do |expense| %>
  <tr>
    <td><%= expense.created_at.strftime("%d/%m/%Y") %></td>
    
    <td><%= expense.expense_category.name %></td>
    <td><%= expense.designation %></td>
     
    <td><%= expense.recipient %></td>
    <td><%= expense.document_reference %></td>
    <td><%= expense.amount %></td>
    
    <td><%= expense.status %></td>
    <td>
        <div class="action-buttons">
                    <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_expense_path(expense), title: "Modifier", remote: false %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), expense_delete_path(expense), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
  </tr>
<% end %>