<p id="notice"><%= notice %></p>

<h1>Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Expense category</th>
      <th>Reason</th>
      <th>Recipient</th>
      <th>Document reference</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Wallet source</th>
      <th>Wallet</th>
      <th>Bank source</th>
      <th>Bank</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.uid %></td>
        <td><%= expense.expense_category %></td>
        <td><%= expense.reason %></td>
        <td><%= expense.recipient %></td>
        <td><%= expense.document_reference %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.description %></td>
        <td><%= expense.wallet_source %></td>
        <td><%= expense.wallet %></td>
        <td><%= expense.bank_source %></td>
        <td><%= expense.bank %></td>
        <td><%= expense.user %></td>
        <td><%= expense.status %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path %>
